<div id="personal">
  <ul class="social">
      <li>I push commits to <a href="https://github.com/jamesmichiemo">GitHub</a></li>
      <li>I hang out on <a href="http://www.reddit.com/user/riffglyph/">Reddit</a> and <a href="https://twitter.com/{{ site.twitter_user }}">Twitter</a></li>
      <li>I listen to music on <a href="http://www.soundcloud.com/riffglyph">SoundCloud</a></li>
      <li>I attend school at <a href="http://www.fullsail.edu">Full Sail University</a></li>
  </ul>
  <ul class="toolbox">
    <li>You can access my <a href="http://feeds.feedburner.com/jamesmichiemo">RSS Feed</a></li>
  </ul>
  <br style="clear:both;">

</div>
